<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Webhook</title>

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="images/android-desktop.png">
    <link rel="stylesheet" type="text/css" href="/static/plugin/codemirror/lib/codemirror.css">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <link rel="shortcut icon" href="images/favicon.png">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
    -->

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css">
    <link rel="stylesheet" type="text/css" href="/static/dist/sweetalert.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/webhook.css">
    <style>
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }

    </style>
</head>
<body>
<div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
        <div class="mdl-layout__header-row">
            <span><h3 id="vendor"><i>{{ data.vendor }}</i></h3></span>
        </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
            <span><h3 id="domain"><i>{{ data.domain }}</i></h3></span>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800" id="nav-bar">
            {% for name in data.apis %}
            <a class="mdl-navigation__link" id={{ name }} href="#" onclick="load_param(this);return false;"><i
                    class="mdl-color-text--blue-grey-400 material-icons" role="presentation">build</i>{{ name }}</a>
            {% endfor %}

        </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
        <div class="mdl-grid demo-content">
            <div class="loading" id="spinner" style="elevation:level">
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
                <div class="loading-bar"></div>
            </div>
            <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
                <div class="mdl-tabs__tab-bar">
                    <a href="#webhook" class="mdl-tabs__tab">Webhooks</a>
                    <a href="#script" class="mdl-tabs__tab">Script</a>

                    <!-- <a href="#targaryens-panel" class="mdl-tabs__tab">Targaryens</a> -->
                </div>
                <div class="mdl-tabs__panel is-active" id="webhook">
                    <div class="mdl-grid">
                        <ul id="dropdown" class="dropdown-content">
                            <li><a href="#" id="GET" onclick="replace_method(this);return false;">GET</a></li>
                            <li><a href="#!" id="POST" onclick="replace_method(this);return false;">POST</a></li>
                            <li><a href="#" id="DELETE" onclick="replace_method(this);return false;">DELETE</a></li>
                        </ul>
                        <a class="btn dropdown-button" href="#" data-activates="dropdown"
                           style="background-color:rgba(0, 150, 255, 1)" id="method">Method<i
                                class="mdi-navigation-arrow-drop-down right"></i></a>
                        <div class="mdl-cell mdl-cell--1-col"></div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="padding:0px;">
                            <input class="mdl-textfield__input" type="text" id="url"
                                   style="margin:-9px;border-radius:5px;border-bottom:3px solid rgba(0, 150, 255, 1);box-shadow:rgba(0, 150, 255, 1)">
                            <label class="mdl-textfield__label" style="margin:-9px;color:rgba(0, 0, 0, .26);" for="url"
                                   id="url_label"><strong>URL...</strong></label>
                        </div>
                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored"
                                id="get_back"
                                style="height:42px;width:90px;border-radius:25px;background-color:rgba(0, 150, 255, 1);display:none;">
                            <i class="material-icons">reply</i>
                        </button>
                    </div>

                    </br>
                    <div id="params">
                        <ul class="collapsible" data-collapsible="accordion" id="request">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">mode_edit</i>Request</div>
                                <div id="param_req" class="collapsible-body">
                                    <div id="standard_req" class='standard'>
                                    </div>
                                    </br>
                                    <div id="custom_req_param">
                                        <div id="custom_req">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label keys"
                                                 id="custom_req_div_key1" style="visibility:hidden;">
                                                <input class="mdl-textfield__input input_custom" id="custom_req_key1">
                                                <label class="mdl-textfield__label label_custom"
                                                       id="custom_req_key_label1" for="key1">Key...</label>
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label values"
                                                 id="custom_req_div_val1" style="visibility:hidden;">
                                                <input class="mdl-textfield__input input_custom" id="custom_req_val1">
                                                <label class="mdl-textfield__label label_custom"
                                                       id="custom_req_val_label1" for="val1">Value...</label>
                                            </div>
                                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored request"
                                                    onclick="addParam(this);return false;" id="add_param_req"
                                                    style="height:45px;background-color:rgba(0, 150, 255, 1)">
                                                <i class="material-icons">add</i>
                                            </button>
                                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored request"
                                                    onclick="removeParam(this);return false;" id="remove_param_req"
                                                    style="height:45px; background-color:rgba(0, 150, 255, 1);margin-left:60px">
                                                <i class="material-icons">clear</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="mdl-layout-spacer"></div>
                        <ul class="collapsible" data-collapsible="accordion" id="response">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">mode_edit</i>Response</div>
                                <div id="param_resp" class="collapsible-body">
                                    <div id="standard_resp" class='standard'>
                                    </div>
                                    </br>
                                    <div id="custom_resp_param">
                                        <div id="custom_resp">
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label keys"
                                                 id="custom_resp_div_key1" style="visibility:hidden;">
                                                <input class="mdl-textfield__input input_custom" id="custom_resp_key1">
                                                <label class="mdl-textfield__label label_custom"
                                                       id="custom_resp_key_label1" for="key1">Key...</label>
                                            </div>
                                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label values"
                                                 id="custom_resp_div_val1" style="visibility:hidden;">
                                                <input class="mdl-textfield__input input_custom" id="custom_resp_val1">
                                                <label class="mdl-textfield__label label_custom"
                                                       id="custom_resp_val_label1" for="val1">Value...</label>
                                            </div>
                                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored response"
                                                    onclick="addParam(this);return false;" id="add_param_resp"
                                                    style="height:45px;background-color:rgba(0, 150, 255, 1)">
                                                <i class="material-icons">add</i>
                                            </button>
                                            <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored response"
                                                    onclick="removeParam(this);return false;" id="remove_param_resp"
                                                    style="height:45px; background-color:rgba(0, 150, 255, 1);margin-left:60px">
                                                <i class="material-icons">clear</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="mdl-layout-spacer"></div>
                        <ul class="collapsible" data-collapsible="accordion" id="param_error">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">mode_edit</i>Error</div>
                                <div id="param_error" class="collapsible-body">
                                    <div id="standard_error" class='standard'>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="mdl-layout-spacer"></div>
                        <ul class="collapsible" data-collapsible="accordion" id="param_error">
                            <li>
                                <div class="collapsible-header"><i class="material-icons">mode_edit</i>Headers</div>
                                <div id="param_header" class="collapsible-body">
                                    <div id="custom_hdr">
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label keys"
                                             id="custom_hdr_div_key1">
                                            <input class="mdl-textfield__input input_custom" id="custom_hdr_key1">
                                            <label class="mdl-textfield__label label_custom" id="custom_hdr_key_label1"
                                                   for="key1">Key...</label>
                                        </div>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label values"
                                             id="custom_hdr_div_val1">
                                            <input class="mdl-textfield__input input_custom" id="custom_hdr_val1">
                                            <label class="mdl-textfield__label label_custom" id="custom_hdr_val_label1"
                                                   for="val1">Value...</label>
                                        </div>
                                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored response"
                                                onclick="addParam(this);return false;" id="add_param_hdr"
                                                style="height:45px;background-color:rgba(0, 150, 255, 1)">
                                            <i class="material-icons">add</i>
                                        </button>
                                        <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored response"
                                                onclick="removeParam(this);return false;" id="remove_param_hdr"
                                                style="height:45px; background-color:rgba(0, 150, 255, 1);margin-left:60px">
                                            <i class="material-icons">clear</i>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div id="test" style="float:left;position:relative;left:20%;margin-top:100px;margin-right:40px; ">
                        <li><a href="" target="_blank" id="test-btn" onclick="test_config(this);return false;"
                               class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white"
                               style="background-color:rgba(0, 150, 255, 1);">Test</a></li>
                    </div>

                    <div id="save" style="float:left;position:relative;left:20%;margin-top:100px">
                        <button target="_blank" id="save-btn" onclick="save_config(this);return false;"
                                class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white"
                                style="background-color:rgba(0, 150, 255, 1);">Save
                        </button>
                    </div>


                    <!-- MDL Spinner Component -->
                </div>



                <div class="mdl-tabs__panel" id="script">

                    <div class="mdl-grid"style="margin:10px">

                    <ul id="lang_dropdown" class="dropdown-content" style="margin:10px">
                        <li><a id="Python" onclick="replace_lang_method(this);return false;">Python</a></li>
                        <li><a id="Plain JavaScript" onclick="replace_lang_method(this);return false;">JavaScript</a>
                        </li>
                    </ul>
                    <a class="btn dropdown-button" data-activates="lang_dropdown"
                       style="background-color:rgba(0, 150, 255, 1)" id="lang">Language<i
                            class="mdi-navigation-arrow-drop-down right"></i></a>


                    </div>
                    <div class="mdl-grid">
                        <textarea class="codemirror-textarea" id="code_text"></textarea>

                        <div id="test_script" style="margin:10px;">
                            <li><a href="" target="_blank" id="test_script_btn"
                                   onclick="execute_config(this);return false;"
                                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white"
                                   style="background-color:rgba(0, 150, 255, 1);">Test</a></li>
                        </div>

                        <div id="script_save" style="margin:10px">
                            <button target="_blank" id="script_save_btn" onclick="save_script(this);return false;"
                                    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored mdl-color-text--white"
                                    style="background-color:rgba(0, 150, 255, 1);">Save
                            </button>
                        </div>
                        <div class="mdl-grid" style="margin-left:50%;margin-top:10px;visibility:hidden" id="myspinner">
                        <p>Loading&nbsp;&nbsp;&nbsp;</p>
                        <div class = "mdl-spinner mdl-js-spinner is-active"></div>
                        </div>
                        <div style="width:100%"></div>
                            <span class="mdl-chip" style="margin-left:20px;">
                            <span class="mdl-chip__text">Output</span>
                            </span>
                            <div style="width:100%">
                            </div>
                            <textarea type="text" id="output_code"
                                          style="width:100%;height:400px;margin:10px;padding:20px"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
<script type="text/javascript" src="/static/plugin/codemirror/lib/codemirror.js"></script>
<script src="/static/plugin/codemirror/mode/python/python.js"></script>
<script src="/static/plugin/codemirror/mode/javascript/javascript.js"></script>

</body>
<script type="text/javascript" src="/static/js/webhook.js"></script>
<script src="/static/dist/sweetalert.min.js"></script>
<script src="/static/dist/sweetalert-dev.js"></script>
<script>
        load_param($('#nav-bar').children()[0])

</script>
</html>
